{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bdms.css' %}">
    <title>About Us</title>
</head>
<body>
{% include 'core/navbar.html' %}

<div class="container" style="margin-top:100px;">
        <h2 class="font-weight-bold text-secondary">About Us</h2>
        <div class="container">
        <p class="text-justify bg-light p-5" id="aboutusid">
        {{about_details}}
        </p>
        </div>
    </div>

<div class="container-fluid mt-5" style="background-color:#8a817c;">
        <p class="text-center font-weight-bold p-3">
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-whatsapp"></i> Whatsapp</a>
        BloodBank and Donar Management System
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-instagram"></i> Instagram</a> 
        </p>
</div>
    
<script src="{% static 'core/js/all.min.js' %}"></script>
<script src="{% static 'core/js/jquery.js' %}"></script>
<script src="{% static 'core/js/popper.js' %}"></script>
<script src="{% static 'core/js/bootstrap.js' %}"></script>
<script src="{% static 'adminuser/js/ajax.js' %}"></script>
</body>
</html>