{% load static %}

{% include 'adminuser/header.html' %}

<div class="col-sm-8  main">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 mb-5">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div id="msg" class="mb-3"></div>
                        <input type="number" class="form-control" placeholder="Enter New Mobile Number" id="mobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter New Email ID" id="emailid" name="emailid">
                    </div>
                <button class="btn btn-primary" name="updatecontact" id="updatecontact">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'adminuser/footer.html' %}
