 <div class="container-fluid mt-5" style="background-color:#8a817c;">
        <p class="text-center font-weight-bold p-3">
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-whatsapp"></i> Whatsapp</a>
        BloodBank and Donar Management System
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="#" class="text-white mr-4 ml-4"><i class="fab fa-instagram"></i> Instagram</a> 
        </p>
    </div>

 