{% extends 'core/base.html' %}

{% load static %}

{% block title %}
Why Become Donar
{% endblock title %}

{% block navigationbar %}
    {% include 'core/navbar.html' %}
{% endblock navigationbar %}

{% block content %}
    <div class="container" style="margin-top:100px;">
        <h2 class="font-weight-bold text-secondary">Why Become Donar</h2>
        <div class="container">
        <p class="text-justify bg-light p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab 
            voluptatum distinctio saepe corrupti fuga, debitis natus cum est. 
            Esse quo harum ducimus odit a ipsa hic labore deleniti id modi?
             Exercitationem minus, nihil quisquam voluptate perspiciatis voluptatem soluta 
            ad dolore ratione labore sed, est, ut nostrum. Ullam nostrum unde velit?
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab 
            voluptatum distinctio saepe corrupti fuga, debitis natus cum est. 
            Esse quo harum ducimus odit a ipsa hic labore deleniti id modi?
             Exercitationem minus, nihil quisquam voluptate perspiciatis voluptatem soluta 
            ad dolore ratione labore sed, est, ut nostrum. Ullam nostrum unde velit?
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab 
            voluptatum distinctio saepe corrupti fuga, debitis natus cum est. 
            Esse quo harum ducimus odit a ipsa hic labore deleniti id modi?
             Exercitationem minus, nihil quisquam voluptate perspiciatis voluptatem soluta 
            ad dolore ratione labore sed, est, ut nostrum. Ullam nostrum unde velit?
        </p>
        </div>
    </div>
{% endblock content %}


{% block footer %}
    {% include 'core/footer.html' %}
{% endblock footer %}
